/*
Sass::SyntaxError: Error generating source map: couldn't determine public URL for the source stylesheet.
  No filename is available so there's nothing for the source map to link to.


Backtrace:
/Users/peterrileyosborne/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:357:in `_render_with_sourcemap'
/Users/peterrileyosborne/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/peterrileyosborne/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:412:in `run'
/Users/peterrileyosborne/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/peterrileyosborne/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Users/peterrileyosborne/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Users/peterrileyosborne/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/Users/peterrileyosborne/.rbenv/versions/2.2.2/bin/sass:23:in `load'
/Users/peterrileyosborne/.rbenv/versions/2.2.2/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Error generating source map: couldn't determine public URL for the source stylesheet.\A   No filename is available so there's nothing for the source map to link to.\A "; }
